/* debug */
.debug #hero {
  background-color: blue;
}
/*
GENERAL
*/



/*
TYPO
*/
.text-white {
  color: #fff;
}


/*
CONTENT
*/

/* header-top */
#header-top + * {
  margin-top: 50px;
}

/* hero */
#hero {
  padding: 90px 0;
}
