/* debug */
.debug #hero {
  background-color: blue;
}
/*
GENERAL
*/
section {
  padding-top: 70px;
  padding-bottom: 50px;
}

.bg_color_gray {
  background-color: #f3f5f9;
}


/*
TYPO
*/
h1,
h2,
h3 {
  margin: 0;
}

.text_white {
  color: #fff;
}
.text_lightgray {
  color: #bbcdff;
}
.text_defblue {
  color: #031c4e;
}
.text_defgray {
  color: #5c6a88;
}


/*
CONTENT
*/

/* header-top */
#header-top {
  background-color: #fff;
}
#header-top + * {
  margin-top: 50px;
}

/* hero */
#hero {
  padding: 90px 0;
}

/* customers */

/* scale-features */
